In [1]:
inPutDir = 'inPut/'
outPutDir = 'outPut/'

### 1、取数据

In [4]:
import pandas as pd
pd.set_option('display.max_columns', None)

dataFile = inPutDir+'DocumentS.txt'
f = open(dataFile,encoding='utf8')
DocumentS = pd.read_table(f,sep='|')
f.close()
print(DocumentS.shape)
DocumentS.head()

(1137, 5)

,time,_no,_EMW,label,document
0,1433150298,110100,1,果蔬食品,"一人一元，寻找身边放心大米为了我们和家人能吃上放心大米,将筹到的资金,委托中国首家放心食品甄..."
1,1435059060,110100,1,茶酒饮品,《不知名茶3》长白山脉已被我们承包，只差你这个森林之王从1000座山到整片森林，包山（林）种...
2,1432894713,110100,1,果蔬食品,【黑鸡枞教父众筹】聆听吃出的健康传奇金泓言用他30年的心血，投入到昔日的皇家贡品黑鸡枞的研发...
3,1478257937,230000,2,五常#稻花香#三株稻,舌尖上的五常稻花香米，“三株稻”品质良心米（众筹第二期）三年，我们联合了80余家稻农，精耕了...
4,1445414025,230000,2,生态养殖#五常大米#正宗大米,舌尖上的五常稻花香米，“三株稻”品质良心米带动乡里乡亲致富的同时，把这正宗的五常米，直接送到...

### 2、pynlpir提取新词

In [56]:
import pynlpir
pynlpir.open(encoding="utf8")

NewWords = DocumentS.document.apply(lambda doc: set(pynlpir.nlpir.GetNewWords(doc.encode('utf8'), 100,  False).decode('utf8').split('#')))
newWords = set()
for item in NewWords:
    newWords = newWords|item
print('新词总数：',len(newWords))

新词总数： 1178

In [57]:
newWords_DF = pd.DataFrame(list(newWords),columns=['w'])
newWords_DF['len'] = newWords_DF.w.apply(lambda w: len(w))
newWords_DF.head()

        w  len
0            0
1    药用价值    4
2  现摘嵩山蜜桃    6
3     茶介绍    3
4      桥子    2

In [63]:
out = newWords_DF[(newWords_DF['len']>1) & (newWords_DF['len']<5)]
print(out.shape)
out.head()

(1017, 2)

      w  len
1  药用价值    4
3   茶介绍    3
4    桥子    2
5  爱心支持    4
6   螃蟹一    3

#### 保存

In [62]:
dictFile = open(outPutDir+"myDict.txt", "w",encoding='utf8')
str_NewWords = "\n".join(list(out.w))
dictFile.write(str_NewWords)
dictFile.close()